html { border: 0; padding: 0; margin: 0; width: 100%; height: 100%; }

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
}

div{
    display: block;
}

/* Estilos del nav */

.menu{
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231,231,231,0);
    padding: 20px;
    transition: all 0.8s;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
}

.sticky{
    background-color: #262626;
}

.container{
    padding-right: 50px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
}

#nav-title{
    margin-right: 0;
    margin-left: 0;
    float: left;
}

#nav-title a.navbar-index{
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    color: #8eb640;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: default;
}

a.navbar-index:link{
    color: #8eb640;
}

a.navbar-index:visited{
    color: #8eb640;
}

.nav-options{
    margin-right: 0;
    margin-left: 0;    
}

#sobre-nosotros-aux{
    display: none;
}

#bs-options-navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 22px;
}

#bs-options-navbar > li > a{
    margin: 10px 15px 0 15px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 27px;
    text-decoration: none;
    cursor: default;
}


.boton-collapse{
    float: right;
    margin: 0.4em 0.7em;
    background-color: transparent;
    border: 1px solid rgb(142, 182, 64);
    border-radius: 3px;
    cursor: pointer;
    display: none;
}



/* Estilos del header */

header {
    display: flex;
    margin-bottom: 50px;
}

#background-header{
    width: 100%;
    padding: 0;
    background:url("../img/foto_header.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.overlay{
    background: rgba(0,0,0,0.4);
}

.intro-text{
    padding-top: 250px;
    padding-bottom: 200px;
}

.intro-text h1{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 4em;
    font-weight: 700;
}


#search-box{
    position: absolute; 
    background: #8eb640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

#busca-ingrediente{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
}


::placeholder{ /* Chrome, Firefox, Opera, Safari */
    color: black;
}

::-ms-input-placeholder{ /* Microsoft Edge */
    color: black;
}

#search-btn{
    background: #8eb640;
    border-color: #8eb640;
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}







/* Estilos del main */

/* Estilo de LISTADOD DE RECETAS */

#principal-recetas{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}

.recetas{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    width: 80%;
    height: 100%;
    row-gap: 20px;
    padding: 10px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.recetas::-webkit-scrollbar{
    display: none;
}

.img-recetas{
    width: 320px;
    height: 250px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: relative;
}

.img-recetas img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 1;
    display: block;
    transition: .5s ease;
}

.title-receta-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-recetas:hover > .title-receta-overlay{
    opacity: 1;
}


.title-receta-overlay:hover > p{
    transform: translateY(0);
}


.title-receta-overlay p{
    transform: translateY(20px);
    transition: transform 0.25s;
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    cursor: default;
    text-align: center;
}

.titulo-image-overlay{
    font-size: 100px;
    font-weight: bold;
}

.receta-no-encontrada{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    
}

.receta-no-encontrada h3{
    text-align: center;
}


/* Estilos de TIEMPO */

.informacion{
    text-align: center;
}


#tiempo-header{
    background:url("../img/foto_category.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 50px;
    margin-bottom: 50px;
}

#tiempo-header .overlay{
    padding: 80px 0;
}

h2{
    color: white;
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 34px;
    text-transform: uppercase;
}

hr{
    margin: 0 auto;
    margin-bottom: 40px;
    height: 3px;
    width: 170px;
    text-align: center;
    position: relative;
    background-color: #8eb640;
    border: 0;
}


#tiempo-opciones{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
}

.btn-opciones{
    width: 100%;
    margin: 0 10px;
    padding: 15px 0;
    background-color: #e9e9ec;
    font-family: 'Newsreader', serif;
    color: #262626;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.btn-opciones:focus {
    background-color: #a0d13d;
}
  
.btn-opciones:hover {
    background-color: #D7F2A1;
}


#tiempo-info{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}

/* ESTILOS DE ABOUT-US */

#about-header{
    background:url("../img/about_us.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 50px;
}

#about-header .overlay{
    padding: 80px 0;
}

#about-info{
    background-color: white;
    padding: 120px 0;
}

#row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#info-img{
    width: 50%;
    display: inline-block;
    position: relative;
}

#info-img img{
    width: 80%;
}

#info-txt{
    width: 50%;   
}

.titulo-aux1{
    color: black;
    text-align: start;
}

.hr-aux1{
    margin: 0;
}

#info-txt h3{
    color: black;
    text-align: start;
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
}

#info-txt p{
    width: 80%; 
    text-align: justify;
    margin: 15px 0 30px;
    line-height: 24px;
    font-size: 16px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#equipo{
    list-style: none;
    float: left;
    text-align: start;
    margin: 0;
    padding: 0;
}

#equipo > li{
    line-height: 24px;
    font-size: 16px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;  
}





/* ESTILOS DE LA INFORMACIÓN DE CADA UNA DE LAS RECETAS */

#resultado-receta{
    width: 100%;
}

#receta-contenedor{
    display: flex;
    margin: 0 auto;
    height: 450px;
    width: 80%;
    justify-content: space-between;
}

.card-view{
    -webkit-box-shadow: 0 12px 24px 0 rgb(142 182 64 / 15%);
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 12px 24px 0 rgb(142 182 64 / 15%);
    box-sizing: border-box;
    border-radius: 6px;
}


/* CARD-VIEW PRINCIPAL */

#la-receta-info-ppal{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 60%;
}

#recet-info-img{
    width: 65%;
}

#recet-info-img img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#recet-info-txt{
    width: 30%;
    height: 100%;
}

#la-receta-title{
    width: 100%;
    font-family: 'Newsreader', serif;
    text-transform: none;
    line-height: 1;
    color: #262626;
    font-weight: 600;
    text-align: center;
    padding: 0 10px;
    margin-top: 25%;
}

#la-receta-origen{
    width: 100%;
    font-family: 'Newsreader', serif;
    line-height: 1;
    color:#8eb640;
    font-weight: 600;
    text-align: center;
}


/* CARD-VIEW AUXILIAR */

#la-receta-info-aux{
    width: 35%;
}

.tabla-info-aux{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.tabla-info-aux tr{
    width: 100%;
    height: 30%;
}

.tabla-info-aux tr td{
    width: 25%;
    text-align: center;
    margin: 0 auto;
}

.round-icon{
    width: 35%;
    padding: 2%;   
    border-radius: 50%;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.5);
}

.p-icon{
    text-align: start;
    font-size: 23px ;
    font-weight: bold;
    font-family: 'Newsreader', serif;
    color: #8eb640;
}


/* ESTILOS DE LOS INGREDIENTES */

#container-ingredientes{
    width: 50%;
    background-color: #D7F2A1;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

#titulo-ingrediente{
    color: #262626;
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

#lista-ingredientes{
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    column-count: 2;  
}

#lista-ingredientes li{
    list-style: none;
    color: #262626;
    font-weight: bold;
    font-size: medium;
    padding: 2px 35px;
}

.not-found{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
}


/* ESTILOS DE LA PREPARACIÓN */
.preparacion-contenedor {
    width: 80%;
    -webkit-box-shadow: 24px -20px 1px -10px #e9e9ec; 
    box-shadow: 24px -20px 1px -10px #e9e9ec;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px 5px 25px 5px;
    border: 2px solid #D7F2A1;
    padding: 20px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.orden{
    color:#8eb640;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Dancing Script', cursive; 
}

.paso{
    color: #262626;
    font-size: large;
    font-weight: 600;
    font-family: 'Newsreader', serif;
}



/* Estilos del footer */

footer{
    width: 100%;
    background: #262626;
    padding: 20px 0 20px 0;
    clear: both;
}

#footer-info{
    width: 80%;
    margin: 0 auto; 
}

#footer-options{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #8eb640;
    
}

#footer-options > li{
    width: 18%;
    margin: 0 15px 0 15px;
    font-weight: 600; 
}



/* ----------------- DISEÑO ADAPTABLE */

/* Resolucion horizontal entre 1200px y 1625px */
@media (min-width: 1200px) and (max-width: 1625px){
    /* ESTILOS DE LA LISTA DE RECETAS */

    .recetas{
        grid-template-columns: auto auto auto;
    }

}

/* Resolución horizontal entre 900px y 1200px */

@media (min-width: 900px) and (max-width: 1200px){

    /* EFECTOS DE LA NAVEGACIÓN */
    /* COLLAPSE NAVBAR */
    #sobre-nosotros-aux{
        display: contents;
    }

    .boton-collapse{
        display: inline-block;
    }

    #bs-options-navbar{
        display: flex;
        flex-direction: column;
    }

    .nav-item{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .nav-options{
        overflow: hidden;
        height: 0vh;
        transition: all 499ms ease;
    }

    .collapse{
        height: 20vh;
    }

    /* ESTILOS DE LA LISTA DE RECETAS */
    .recetas{
        grid-template-columns: auto auto;
    }

    /* ESTILOS DEL ABOUT US */
    #info-txt p{
        width: 80%;
        text-align: justify;
    }

    /* ESTILOS DE LA INFORMACIÓN DETALLADA DE LA RECETA */
    #receta-contenedor{
        flex-direction: column;
        justify-content: space-around;
        height: 45%;
    }

    #la-receta-info-ppal{
        margin: 0 auto;
        margin-bottom: 60px;
        width: 100%;
    }

    #la-receta-title{
        margin-top: 10%;
    }

    #recet-info-img{
        width: 80%;
    }

    #recet-info-img img{
        border-top-left-radius: 6px;
        border-bottom-right-radius: 0px;
    }

    #la-receta-info-aux{
        width: 100%;
    }

    #container-ingredientes{
        width: 100%;
    }

}

/* --------------------------------- */

/* Resolución horizontal < 900px */

@media (max-width: 900px){

    /* EFECTOS DE LA NAVEGACIÓN */
    /* COLLAPSE NAVBAR */
    #sobre-nosotros{
        display: none;
    }

    #sobre-nosotros-aux{
        display: contents;
    }

    .boton-collapse{
        display: inline-block;
    }

    #bs-options-navbar{
        display: flex;
        flex-direction: column;
    }

    .nav-item{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .nav-options{
        overflow: hidden;
        height: 0vh;
        transition: all 499ms ease;
    }

    .collapse{
        height: 25vh;
    }

    /* ESTILOS DE LA LISTA DE RECETAS */
    .recetas{
        grid-template-columns: auto;
        grid-auto-flow: column;
        overflow-y: hidden;
        overflow-x: scroll;
        column-gap: 20px;
    }

    .recetas::-webkit-scrollbar{
        display: block;
    }

    /* ESTILO DEL ABOUT-US */

    #info-img{
        display: none;
    }

    #info-txt{
        width: 100%;
        padding: 0;
    }


    #info-txt p{
        width: 100%;
        text-align: justify;
    }

    /* ESTILOS DE LA INFORMACIÓN DETALLADA DE LA RECETA */

    #receta-contenedor{
        flex-direction: column;
        justify-content: space-around;
        height: 45%;
    }

    #la-receta-info-ppal{
        flex-direction: column-reverse;
        margin: 0 auto;
        margin-bottom: 60px;
        width: 100%;
    }

    #la-receta-title{
        font-size: x-large;
        margin-top: 10%;
    }

    #recet-info-img{
        width: 100%;
    }

    #recet-info-img img{
        border-top-left-radius: 6px;
        border-bottom-right-radius: 0px;
    }

    #la-receta-info-aux{
        width: 100%;
    }

    .round-icon{
        width: 28%;
        box-shadow: 0px 0px 35px 0px rgba(0,0,0,0);
        -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0);
        -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0);
    }

    .p-icon{
        font-size: medium;
    }

    #container-ingredientes{
        width: 100%;
    }

    #lista-ingredientes{
        column-count: auto;
    }

    #lista-ingredientes li{
        list-style: none;
        color: #262626;
        font-weight: bold;
        font-size: small;
        padding: 0;
        margin-top: 10px;
    }

    #footer-info{
        width: 80%;
        margin: 0;
    }

    #footer-options > li{
        font-size: 1.75vw;
    }


}