{% for recet in recetas_tiempo %}
    <div class="columns">
        <form action="{{url_for('informacion_resultado')}}" method="POST">
            <div class="img-recetas">
                <img src="{{recet.urlImagen}}" alt="recipe_image"/>
                <div class="title-receta-overlay">
                    <p class="titulo-image-overlay">{{recet.titulo}}</p>
                    <input type="hidden"  name="id-image" value="{{recet.urlImagen}}"/>
                    <input type="image" src="{{ url_for('static', filename='img/boton_mostrar_receta.png')}}" width="80" height="80" alt="boton"/>   
                </div>
            </div>
        </form>
    </div>
{% endfor %}