    <footer>
        <div id="footer-info">
            <ul id="footer-options">
                <li>&copy;&nbsp;2021&nbsp;Recetas a la Carta</li>
                <li>Universidad de Granada</li>
                <li> Ing. de Sistemas de Información</li>
                <li>Contacta con Nosotros</li>
                <li>Términos y Condiciones</li>
            </ul>
        </div>
    </footer>

    <!-- JavaSript para realizar el header sticky-->
    <script src="{{ url_for('static', filename='js/headerSticky.js') }}"></script>

    <!-- JavaScript para el navbar collapse en el responsive view-->  
    <script src="{{ url_for('static', filename='js/collapseNav.js') }}"></script>

</body>
</html>