    <footer>
        <div id="footer-info">
            <ul id="footer-options">
                <li>&copy;&nbsp;2021&nbsp;Recetas a la Carta</li>
                <li>Universidad de Granada</li>
                <li> Ing. de Sistemas de Información</li>
                <li>Contacta con Nosotros</li>
                <li>Términos y Condiciones</li>
            </ul>
        </div>
    </footer>

    <!-- JavaSript para realizar el header sticky-->
    <script src="{{ url_for('static', filename='js/headerSticky.js') }}"></script>

    <!-- JavaScript para el navbar collapse en el responsive view-->  
    <script src="{{ url_for('static', filename='js/collapseNav.js') }}"></script>
    
    <script type="text/javascript">
        function tiempoEleccion(clicked_id){
            let id = clicked_id;
            let resultado = document.getElementById("filtro");
            $.ajax({
            url:"/categorias",
            type:"POST",
            data: {"tiempo_clickado":id},
            success: function(response){
                resultado.innerHTML = response
            },
            error: function(error){
                //console.log(error)
            },
            });
        }
            //const xhr = new XMLHttpRequest();
            //xhr.open('POST', URL);
            //xhr.send(clicked_id);

    </script>

</body>
</html>