<body>
    <nav class="menu">
        <div class="container">
            <div id="nav-title">
                <a class="navbar-index" href="{{url_for('index')}}">Recetas a la Carta</a>
            </div>
            <button type="button" class="boton-collapse">
                <img src="{{ url_for('static', filename='img/navbar_collapse_icon.png') }}" id="img-about-us" alt="icon navbar">
            </button>
            <div class="nav-options">
                <ul id="bs-options-navbar">
                    <li class="nav-item"><a href="{{url_for('index')}}">Home</a></li>
                    <li class="nav-item"><a href="#categorias">Categorias</a></li>
                    <li id="sobre-nosotros" class="nav-item"><a href="#about">Sobre nosotros</a></li>
                    <li id="sobre-nosotros-aux" class="nav-item"><a href="#about">Nosotros</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div id="background-header">
            <div class="overlay">
                <div class="container">
                    <div class="intro-text">
                        <h1>Introduzca los ingredientes...</h1>
                        <div id="search-box">
                            <form action="{{url_for('procesar')}}" method="get" class="busqueda-ingrediente">
                                <input type="text" id="busca-ingrediente" name="ingrediente" placeholder="Buscar..." autocomplete="off"/>
                                <button type="submit" id="search-btn"> <i class="fas fa-search"></i> </button>    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </header>