{% include 'head.html' %}
{% include 'header.html' %}
    <main>

        <div id="principal-recetas">
            <div class="recetas">
                {% if recetas |length > 0 %}
                    {% for recet in recetas %}
                        <div class="columns">
                            <form action="{{url_for('informacion_resultado')}}" method="POST">
                                <div class="img-recetas">
                                    <img src="{{recet.urlImagen}}" alt="recipe_image"/>
                                    <div class="title-receta-overlay">
                                        <p class="titulo-image-overlay">{{recet.titulo}}</p>
                                        <input type="hidden"  name="id-url-receta" value="{{recet.urlReceta}}"/>
                                        <input type="hidden"  name="id-pag-original" value="{{recet.paginaOriginal}}"/>
                                        <input type="hidden"  name="id-ingrediente" value="{{ingred}}"/>
                                        <input type="image" src="{{ url_for('static', filename='img/boton_mostrar_receta.png')}}" width="80" height="80" alt="boton"/>   
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="receta-no-encontrada">
                        <h3 class="orden"> ¡UPS! No hemos encontrado ninguna receta :( </h3>
                        <img class="not-found" src="{{ url_for('static', filename='img/recipe_not_found.png')}}" alt="error 404"/>
                    </div>
                {% endif %}
            </div>
        </div>


        <div id="categorias" class="informacion">
            <div id="tiempo-header">
                <div class="overlay">
                    <h2>¿Cuánto tiempo tienes?</h2>
                    <hr>
                    <div id="tiempo-opciones">
                        <button class="btn-opciones" id="poco" onclick=" tiempoEleccion(this.id)">Hoy no tengo tiempo</button>       
                        <button class="btn-opciones" id="medio" onclick=" tiempoEleccion(this.id)" >Podría esperar...</button>
                        <button class="btn-opciones" id="mucho" onclick=" tiempoEleccion(this.id)" >Todo el día en la cocina</button>
                    </div>
                </div>
            </div>
            <div id="tiempo-info">
                <div id="filtro" class="recetas">
                {% for recet in recetasf %}
                    <div class="columns">
                        <form action="{{url_for('informacion_resultado')}}" method="POST">
                            <div class="img-recetas">
                                <img src="{{recet.urlImagen}}" alt="recipe_image"/>
                                <div class="title-receta-overlay">
                                    <p class="titulo-image-overlay">{{recet.titulo}}</p>
                                    <input type="hidden"  name="id-url-receta" value="{{recet.urlReceta}}"/>
                                    <input type="hidden"  name="id-pag-original" value="{{recet.paginaOriginal}}"/>
                                    <input type="image" src="{{ url_for('static', filename='img/boton_mostrar_receta.png')}}" width="80" height="80" alt="boton"/>   
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>


        <div id="about" class="informacion">
            <div id="about-header">
                <div class="overlay">
                    <h2>Sobre nosotros</h2>
                    <hr>
                </div>
            </div>
            <div id="about-info">
                <div class="container">
                    <div id="row">
                        <div id="info-img">
                            <img src="{{ url_for('static', filename='img/foto_info_nosotros.jpg') }}" id="img-about-us" alt="imagen about us">
                        </div>
                        <div id="info-txt">
                            <h2 class="titulo-aux1">Nuestra página</h2>
                            <hr class="hr-aux1">
                            <p>Recetas a la carta es un buscador de recetas enfocado al ámbito de la cocina, no solo para usuarios expertos sino también para usuarios principiantes,
                            facilitando a nuestros usuarios la información necesaria para elegir qué plato cocinar de una manera rápida, sencilla y aprovechando los
                            ingredientes disponibles al máximo.</p>
                            <h3>Nuestro equipo:</h3>
                            <ul id="equipo">
                                <li>Alba Casillas Rodríguez</li>
                                <li>Pablo Robles Molina</li>
                                <li>Tomás Ruíz Fernández</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% include 'footer.html' %}